*{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-areas: "nav nav nav"
                          "content content content"
                          "content content content"
                          "content content content"
                          ;

    height: 100vh;
    width: 100%;
    grid-template-rows: 80px 1fr;
    grid-template-columns: 1fr;
}

.navbar{
    grid-area: nav;
    background-color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.0rem;
    color: white;
}

.main{
    /* background-color: rgb(20, 20, 20); */
    background-color: #121212;
    /* background-color: blue; */
    /* background-color: #111111; */
    display: grid;
    /* grid-template-columns: repeat(4,1fr); */
    /* gap: 1rem; */
    /* place-items: center; */
    /* grid-template-columns: repeat(6,1fr); */
    
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
}

@media screen and (max-width:560px) {
    .main{
        place-items: center;
    }
    .bookmark_Img{
        width: 160px;
        height: 260px;
    }
}

.movieBookmark{
    color: white;
    display: flex;
    flex-direction: column;
    margin: 30px;
    flex-wrap: wrap;
}

.bookmark_Img{
    width: 260px;
    height: 360px;
    object-fit: cover;
}

.movie-name{
   color: white;
   font-size: 1.2rem;
   margin-top: 10px;
}